:root {
    /* --color-fondo: #fff */
    --color-gris: #bcc1c4;
    --color-verde-transparente: rgba(104, 180, 120, 0.5);
    --color-azul-transparente: rgba(65, 120, 164, 0.5);
    --color-amarillo_transparente: rgba(226, 170, 88, 0.5);
    --color-verde: #68b478;
    --color-azul: #4178a4;
    --color-amarillo: #e2aa58;
    --color-texto: #111;
    --color-verde-oscuro: #238668;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
}

header {
    background-color: var(--color-fondo);
    padding: 1rem 2rem 0 2rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 6rem;
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: var(--color-texto);
    font-size: 1.5rem;
}

nav {
    display: flex;
}

nav a {
    color: var(--color-verde-oscuro);
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5rem;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    padding: 6px;
    color: var(--color-verde);
    border: 2px solid var(--color-verde-oscuro);
}

main {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: 80vh;
    align-items: center;
}

#texto {
    display: grid;
    place-items: center;
}

#texto div {
    color: var(--color-verde-oscuro);
    display: grid;
    width: 50vw;
}

#texto p {
    font-size: 1.3rem;
}

#texto h2 {
    font-weight: bold;
    font-size: 3rem;
}

#Muestra {
    background-color: var(--color-verde-transparente);
    border: 2px solid var(--color-verde-oscuro);
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    border-radius: 5vw;
    color: #fff;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

#redes {
    background-color: var(--color-verde-transparente);
    border: 2px solid var(--color-verde-oscuro);
    display: grid;
    grid-template-rows: repeat(3, 80px);
    place-items: center;
    padding: 2vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-height: 300px;
}

#Muestra #redes img {
    height: auto;
    min-width: 15px;
}

#Muestra #productos {
    width: 95%;
    display: flex;
    place-content: center;
    align-self: center;
}

#Muestra #productos img {
    margin-top: 15px;
    width: 75%;
}

section {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

section img {
    margin: 0 20px;
    /* Ajusta según sea necesario */
    width: 100px;
    height: 100%;
    padding: 5px;
}

section a {
    text-decoration: none;
}

#Img1 {
    background-color: var(--color-verde-transparente);
    border-radius: 20px;
}

#Img2 {
    background-color: var(--color-azul-transparente);
    border-radius: 20px;
}

#Img3 {
    background-color: var(--color-amarillo_transparente);
    border-radius: 20px;
}

@media (max-width: 980px) {
    body {
        overflow: visible;
        overflow-x: hidden;

    }

    main {
        grid-template-columns: 100%;
    }

    header {
        flex-direction: row-reverse
    }

    #logo {
        display: none;
    }

    nav {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #666;
        padding: 1rem;
        background-color: var(--color-fondo);
    }

    nav.show {
        display: flex;
        align-items: center;
        background-color: var(--color-gris);
        height: 100vh;
        padding-top: 80px;
        left: 0;
        position: absolute;
    }

    nav a {
        width: 40%;
        text-align: center;
        font-size: 30px;
    }

    header .menu-icon {
        width: 1.5 rem;
        display: block;
        cursor: pointer;
        color: var(--color-texto);
        font-size: 1.5rem;
        filter: invert(100%);
        background-color: var(--color-fondo);
    }

    #texto div {
        width: 85vw;
    }

    #texto #Nombre {
        text-align: center;
        font-size: 1.8rem;

    }

    #texto #Descripcion {
        text-align: justify;
        font-size: 1.2rem;
    }

    #Muestra {
        place-self: center;
        max-width: 500px;
        width: 100vw;
    }

    #redes {
        position: fixed;
    }

    section {
        position: relative;
        margin-top: 50px;
    }
#redes {
    transform: translateY(100%);

}
}